html
html
   head
      title Form Tester
   body
      form(action = "/", method = "POST")
         div
            label(for = "say") Dit bonjour:
            input(name = "say" value = "Bonjour")
         br
         div
            label(for = "to") A:
            input(name = "to" value = "Express forms")
         br
         button(type = "submit") Envoi mes salutation 